<div id="popUp" class="popUp">
    <section>
        <header class="popUp-header">Folio.Card Builder
        </header>
        <div id="dots" class="dots">
            <div class="dotGroup" ng-click="logOutBtnClick()"> <span id="dot1">1</span>
                <span id="dot1caption" class="dotCaption">LOGIN</span>
            </div>
            <div class="dotGroup" ng-click="setEditState()"> <span id="dot2">2</span>
                <span id="dot2caption" class="dotCaption">CONFIG</span>
            </div>
            <div class="dotGroup" ng-click="setSummaryState()"> <span id="dot3">3</span>
                <span id="dot3caption" class="dotCaption">SUBMIT</span>
            </div>
        </div>
        <!-- Main pop up content area -->
        <article id="popUpContent" class="popUp-content" ng-init="setPopUpState()">

            <!-- create / edit buttons -->
            <div class="create-edit-buttons" ng-show="states.editState == true || states.summaryState == true || states.selectForEdit == true">
                <a href="" ng-click="onNewButtonClick()">NEW</a>
                <a href="" ng-click="onEditButtonClick()">EXISTING</a>
            </div>

            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div ng-show="success" class="alert alert-success">{{success}}</div>


            <!-- LOGIN STATE - show when "showLoginState is set to true" -->
            <div id="login" class="login-form-wrapper clearfix" ng-show="states.showLoginState === true">

                <form accept-charset="utf-8" autocomplete="off" role="loginForm" name="loginForm" class="form-vertical" autocomplete="off">
                    <div class="form-group ">
                        <label for="username" class="sr-only">User name</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="User name" tabindex="1" autocomplete="off" required ng-model="userName" ng-bind="userName" ng-keypress="onLoginKeyPress($event)" />
                    </div>
                    <div class="form-group ">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" tabindex="2" type="password" autocomplete="off" required ng-model="password" ng-bind="password" ng-keypress="onLoginKeyPress($event)" />
                    </div>
                </form>
            </div>


            <!-- EDIT FORM STATE - show when "editState is set to true" -->
            <form id="editForm" accept-charset="utf-8" autocomplete="off" role="modelForm" name="modelForm" class="form-vertical model-form" autocomplete="off" ng-show="states.editState === true">
                <div class="form-group">
                    <label for="modelName" class="sr-only">Model name</label>
                    <input type="text" class="form-control model-name-input" name="modelName" id="modelName" placeholder="Model name" tabindex="1" autocomplete="off" required ng-model="currentModel.modelName" ng-change="onModelNameChange()" />
                </div>
                <!-- Form columns -->
                <div class="form-columns-group">

                    <!-- Form Left Column -->
                    <div class="form-left-colum clearfix">
                        <img id="silhouette-image" ng-src="images/silhouette.png"/>
                        <div class="form-group silhouette-details">                           
                            
                            <label for="shoue">Height:</label> <span>{{heightDisplay}}</span>
                            <input type="range" orient="vertical" min="4.5" max="6.75" step="0.01" ng-model="height" ng-bind="height" ng-change="onHeightChange()" />

                        </div>
                        <span id="silhouette-bust-label">{{bust}}&quot;</span>
                        <span id="silhouette-waist-label">{{waist}}&quot;</span>
                        <span id="silhouette-hips-label">{{hips}}&quot;</span>
                        <span id="silhouette-shoes-label">{{shoes}}&quot;</span>
                    </div>
                    <!-- ./Form Left Column -->

                    <div class="form-rigth-colum">
                         
                        <div class="form-group">
                            <label for="hairColor">Hair:</label>
                            <select id="hairColor" required class="form-control selectpicker" name="hairColor" ng-model="hairColor" ng-change="onHairChange()" ng-options="color as color for color in hairColors" class="required" required>
                                <option value="default" disabled="disabled">Select one--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="eyesColor">Eyes:</label>
                            <select id="eyesColor" required class="form-control selectpicker" name="eyesColor" ng-model="eyesColor" ng-change="onEyesChange()" ng-options="eyeColor as eyeColor for eyeColor in eyesColors" class="required" required>
                                <option value="default" disabled="disabled">Select one--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bust">Bust:</label>
                            <input type="range" name="bust" min="20" max="40" step="0.5" ng-model="bust" ng-bind="bust" ng-change="onBustChange()">

                        </div>
                        <div class="form-group">
                            <label for="waist">Waist:</label>
                            <input type="range" name="waist" min="20" max="30" step="0.5" ng-model="waist" ng-bind="waist" ng-change="onWaistChange()">

                        </div>
                        <div class="form-group">
                            <label for="hips">Hips:</label>
                            <input type="range" name="hips" min="20" max="40" step="0.5" ng-model="hips" ng-bind="hips" ng-change="onHipsChange()">

                        </div>
                        <div ng-controller="SomeCtrl">

                            <div class="dropzone" dropzone="dropzoneConfig"></div>
                        </div>

                        <div class="form-group">
                            <label for="shoes">Shoes:</label>
                            <input type="range" name="shoes" min="4" max="10" step="0.5" ng-model="shoes" ng-bind="shoes" ng-change="onShoesChange()">

                        </div>
                        

                    </div>
                    <!-- ./form-rigth-colum -->       
                   
                </div>

                <div class="textColorGroup clearfix">
                <label for="textColor">Text Color:</label>  
                            <input
                                   id="colorSwitch"
    bs-switch
    ng-model="isBlack"
    type="checkbox"
    switch-on-text="Black"
    switch-off-text="White"
    switch-change="onTextColorChange()"
    ng-change="onTextColorChange()"
    ng-true-value="true"
    ng-false-value="false">
                </div>
            </form>


            <!-- ./Model-form in edit state -->

            <!-- SUMMARY STATE - show when "summaryState is set to true" -->
            <div id="summary" ng-show="states.summaryState === true" class="select-edit-table-wrapper clearfix ng-scope">
                <!-- columns -->
                <div class="summary-columns-group clearfix">
                    <!-- Left Column -->
                    <div class="summary-left-colum">
                        <p>
                            <label>Model name</label> <span>{{currentModel.modelName}}</span>
                        </p>
                        <ul>
                            <li>
                                <p>
                                    <label>Height:</label> <span>{{heightDisplay}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>Hair:</label> <span>{{hairColor}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>Eyes:</label> <span>{{eyesColor}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>Bust:</label> <span>{{bust}}"</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <label>Waist:</label> <span>{{waist}}"</span>
                                </p>
                            </li>
                        </ul>

                    </div>
                    <div id="summaryRightCol" class="summary-right-colum">
                        <p>
                            <label>Ref:</label> <span>ref</span>
                        </p>
                        <p>
                            <label>Hips:</label> <span>{{hips}}"</span>
                        </p>
                        <p>
                            <label>Shoes:</label> <span>{{shoes}}"</span>
                        </p>
                        <div class="thumbs-wrapper">
                            <img id="thumb1" width="100" height="100" ng-src="{{defaultImagePath}}{{fronImageName}}"/>
                            <img id="thumb2" width="100" height="100" ng-src="images/silhouette-thumb.png"/>
                        </div>
                    </div>

                    <!-- ./Form Right Column -->
                </div>
                <div class="summary-columns-group clearfix">
                    <div class="summary-left-colum">
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <select id="quantity" required class="form-control selectpicker" name="quantity" ng-model="quantity" ng-change="onQuantityChange()" ng-options="value as value for value in quantities" >
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select id="status" required class="form-control selectpicker" name="status" ng-model="status" ng-change="onStatusChange()" ng-options="status as status for status in statuses">
                            </select>
                        </div>
                    </div>
                    <div id="summaryRightCol" class="summary-right-colum">
                        <div class="form-group">
                            <label for="deliveryAddress">Delivery address:</label>
                            <select id="deliveryAddress" required class="form-control selectpicker" name="deliveryAddress" ng-model="deliveryAddress" ng-change="onDeliveryAddressChange()" ng-options="value as value for value in deliveryAddresses" ng-selected="deliveryAddresses[0]">
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="emailPdf">Email me a PDF:</label>
                            <select id="emailPdf" required class="form-control selectpicker" name="emailPdf" ng-model="emailPdf" ng-change="onEmailPdfChange()" ng-options="emailPdf as emailPdf for emailPdf in emailPdfOptions">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SELECT FOR EDIT STATE - show when "selectForEdit is set to true" -->
            <div id="selectForEdit" class="select-edit-table-wrapper clearfix" is-bar-shown="true" ng-scrollbar ng-show="states.selectForEdit === true">
                <table st-table="modelPersons" st-safe-src="rowCollection" class="table table-striped">

                    <thead>
                        <tr>
                            <th colspan="5" class="search-th">
                                <input st-search="modelName" class="form-control" placeholder="search model..." type="text" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" st-select-mode="single" ng-repeat="row in modelPersons">
                            <td><img class="model-table-thumbnail" width="25" height="25" ng-src="images/uploads/{{row.uploadedFrontImgName}}" />
                            </td>
                            <td>{{row.modelName}}</td>
                            <td>
                                {{row.quantity}}
                            </td>
                            <td>
                                {{row.reference}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>
        <!-- ./Main pop up content area -->
        <footer><a href="" tabindex="5" ng-disabled="loginForm.$invalid && popUpState == 'loginState'" ng-show="states.showComfortIndicatorState === false" ng-click="onNextSubbmitClick()">{{footerButtonText}}</a>
        </footer>
    </section>
</div>
